@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 3.7% 15.9%;
    --foreground: 0 0% 98%;
    --card: 240 3.7% 15.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 3.7% 15.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 100% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 25.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 25.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 25.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 25.9%;
    --input: 240 3.7% 25.9%;
    --ring: 210 100% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html, body {
    cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOS4xNTkgMjIuMjQ0bDQuNDg4LTQuNDg4LTQuNDg4IDQuNDg4em04LjAyOC04LjAyOEwxMC42IDcuNjMybDYuNTg3IDYuNTg0em0tMS4yMDctMS4yMDZsLTIuMDc0LTIuMDc1IDIuMDc0IDIuMDc1em0tMy41NjUtMy41NjVMOS4wMyA2LjA2MmwyLjM4NSAyLjM4N3ptNC4xNjEtMS41MzhjLjU0LS4zMS45My0uODcuOTMtMS41MTQgMC0uOTctLjc4LTEuNzUtMS43NS0xLjc1LS42NDQgMC0xLjIwMy4zOS0xLjUxMy45My0uMzEtLjU0LS44Ny0uOTMtMS41MTQtLjkzLS45NjggMC0xLjc1Ljc4Mi0xLjc1IDEuNzUgMCAuNjQ1LjM5IDEuMjA0LjkzIDEuNTE0LS41NC4zMS0uOTMuODctLjkzIDEuNTEzIDAgLjk3Ljc4MiAxLjc1IDEuNzUgMS43NS42NDQgMCAxLjIwMy0uMzkgMS41MTMtLjkzLjMxLjU0Ljg3LjkzIDEuNTE0LjkzLjk3IDAgMS43NS0uNzggMS43NS0xLjc1IDAtLjY0NC0uMzktMS4yMDMtLjkzLTEuNTEzeiIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4="), auto;
  }

  body {
    @apply bg-background text-foreground;
    overflow: hidden;
  }
}
