@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5.9% 90%;
    --foreground: 240 10% 3.9%;
    --card: 240 5.9% 90%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 210 100% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 80%;
    --ring: 210 100% 56%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 3.7% 15.9%;
    --foreground: 0 0% 98%;
    --card: 240 3.7% 15.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 3.7% 15.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 100% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 25.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 25.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 25.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 25.9%;
    --input: 240 3.7% 25.9%;
    --ring: 210 100% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    overflow: hidden;
    cursor: url("data:image/svg+xml,%3Csvg width='13' height='20' viewBox='0 0 13 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0L12.1213 12.1213L10.384 13.8586L6.58579 10.0604L2.82843 13.8284L0 11V0Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.41421 1.41421L7.44338 7.44338L6.23253 8.65423L1.41421 3.83592V1.41421Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.41421 8.41421L10.9396 10.9396L9.52538 12.3538L7.23253 10.0609L4.24264 13.0508L2.82843 11.6365L8.41421 6V8.41421Z' fill='black'/%3E%3C/svg%3E") 0 0, auto;
  }

  button, a, [role="button"], [onclick] {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size:24px'%3E%3Ctext y='24'%3E%E2%98%9D%3C/text%3E%3C/svg%3E"), auto;
  }

  input[type=text], textarea {
    cursor: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4L12 20' stroke='black' stroke-width='1.5'/%3E%3Cpath d='M9 4H15' stroke='black' stroke-width='1.5'/%3E%3Cpath d='M9 20H15' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E") 12 12, text;
  }
}
